html, body {
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0;

    overflow: hidden;

    font-family: $classic, Arial, Helvetica, sans-serif;
    font-size: rem(16px);

    @include text-rendering();
}

* {
    @include text-rendering();
}