/**
 * Colors
 */
$color-white: #fff;
$color-black: #000;


 /**
 * Fonts
 */
$classic: 'lausanne';

$font-1: get_font(1);
$font-2: get_font(2);
$font-3: get_font(3);
$font-4: get_font(4);
$font-5: get_font(5);
$font-6: get_font(6);
$font-7: get_font(7);
$font-8: get_font(8);
$font-9: get_font(9);